<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.spoiler.board.free.mapper.RegMemberMapper">
	<insert id="regMemberJoin">
		insert into spo_reg_member values(#{memberId},#{memberPw},#{memberName},#{memberMail},#{memberBirth},0, now());
	</insert>
	</mapper>